#root,html,body {
  /* max-width: 1280px; */
  height:100%;
  width:100%;

  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.link{
  list-style: none;
  background-color: rgba(211, 211, 211, 0.489);
}